@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700");
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-family: 'Lato', "Segoe UI", sans-serif;
  font-family: "Barlow Semi Condensed", 'barlow', sans-serif;
  border: 5px solid #ffe138;
  background-color: #ebebeb;
  background-color: white;
  background-image: linear-gradient(65deg, #1e555d, #4c3c10);
  background-attachment: fixed;
  min-height: 100vh;
  color: #454545;
  color: #dddddd;
}

@media (max-width: 670px) {
  body {
    border-width: 2px;
    padding: 2px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: inherit;
}

.p30 {
  padding: 30px;
}

.v-pad {
  padding-top: 30px;
  padding-bottom: 30px;
}

.viewport-fold {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .viewport-fold {
    min-height: auto;
  }
}

.col-wrap {
  display: flex;
}

.col-wrap > * {
  flex: 1;
}

.main-heading, .content-header-nav {
  flex: 1;
  display: flex;
  padding: 20px 30px;
  min-width: 25%;
  max-width: 25%;
  border-right: 1px solid rgba(204, 204, 204, 0.183);
  margin-bottom: 1px;
  text-transform: uppercase;
  font-weight: 300;
}

.content-heading {
  font-weight: 400;
  font-size: 1.8rem;
}

.section-header {
  padding: 30px;
}

.lnk-prom {
  display: inline-block;
  padding: 10px;
  background-color: #57d657;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  align-self: flex-start;
  box-shadow: 0 2px 2px #498e49;
  transition: .2s;
}

.lnk-prom:hover {
  background-color: #68d168;
  box-shadow: 0 5px 5px #8aa58a;
  transform: translateY(-2px);
}

.flickity-prev-next-button {
  border-radius: 0;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-size: cover;
  border-bottom: 1px solid rgba(204, 204, 204, 0.183);
}

.main-header.-secondary .id-collection {
  display: flex;
  justify-content: flex-start;
}

.main-fold .main-header {
  order: 2;
}

@media (max-width: 1200px) {
  .main-header {
    align-items: flex-start;
  }
  .id-collection {
    width: 100%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.183);
  }
}

@media (max-width: 1000px) {
  .main-header {
    padding-right: 0;
  }
}

@media (max-width: 800px) {
  .main-fold .main-header {
    order: 1;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(204, 204, 204, 0.183);
}

@media (max-width: 670px) {
  .logo {
    width: 100%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.183);
  }
}

.logo-group {
  display: flex;
  color: white;
  text-decoration: none;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 30px;
}

@media (max-width: 750px) {
  .logo-group {
    justify-content: center;
  }
}

@media (max-width: 670px) {
  .logo-group {
    align-items: flex-end;
    padding-left: 10px;
  }
}

.logo-text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: segoe ui;
}

.logo-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: inherit;
  font-size: 2.2rem;
  line-height: .75;
  font-weight: 900;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.logo-title br {
  display: none;
}

.title-svg {
  width: 400px;
  margin-right: 15px;
}

.title-svg img {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 1080px) {
  .logo-title {
    font-size: 2rem;
  }
}

@media (max-width: 970px) {
  .-secondary .logo-title {
    font-size: 1.6rem;
  }
  .-secondary .logo-about {
    font-size: .8rem;
  }
}

@media (max-width: 670px) {
  .logo-title {
    font-size: 1.6rem;
  }
  .logo-about {
    font-size: .8rem;
  }
}

.logo-location {
  margin-top: auto;
  font-size: .8rem;
}

.logo-address {
  color: inherit;
}

.contact-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid rgba(204, 204, 204, 0.183);
}

.main-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .9rem;
  padding: 15px;
}

.-secondary .main-contact {
  justify-content: space-around;
}

.phone {
  margin-right: 20px;
}

@media (max-width: 670px) {
  .main-contact {
    flex: 1;
    padding-right: 0;
  }
  .phone {
    margin-right: 0;
  }
}

@media (max-width: 920px) {
  .logo-contact {
    flex-direction: column;
  }
}

.logo-img {
  width: 80px;
  margin-right: 10px;
}

.logo-img img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.logo-img-wrap:nth-child(2) {
  display: none;
}

@media (max-width: 750px) {
  .logo-img {
    display: flex;
    /*        justify-content: space-around;*/
  }
  .logo-img-wrap {
    width: 80px;
  }
  .logo-img-wrap:nth-child(2) {
    display: block;
    padding-left: 10px;
  }
}

.main-extra {
  display: flex;
  width: 100%;
  border-top: 1px solid rgba(204, 204, 204, 0.183);
  border-right: 1px solid rgba(204, 204, 204, 0.183);
}

.-secondary .main-extra {
  width: auto;
  align-self: stretch;
  padding-left: 0;
  align-items: stretch;
  border-top: 0;
}

@media (max-width: 1200px) {
  .-secondary .logo {
    border-right: 0;
  }
  .-secondary .logo-group {
    align-items: flex-end;
  }
  .-secondary .main-extra {
    border-top: 1px solid rgba(204, 204, 204, 0.183);
    border-left: 1px solid rgba(204, 204, 204, 0.183);
    border-right: 0;
    justify-content: center;
    align-content: center;
    margin-left: auto;
  }
  .-secondary .main-extra .socmed {
    margin-left: 0;
  }
}

@media (max-width: 890px) {
  .-secondary .logo {
    margin: auto;
    border-right: 0;
  }
  .id-collection {
    flex-wrap: wrap;
  }
  .-secondary .main-extra {
    width: 100%;
    border-left: 0;
  }
}

@media (max-width: 480px) {
  .main-extra, .-secondary .main-extra {
    flex-wrap: wrap;
  }
}

.emp-logo {
  display: flex;
  padding: 10px;
  border-right: 1px solid rgba(204, 204, 204, 0.183);
}

.emp-logo:first-child {
  padding-left: 30px;
}

.-secondary .emp-logo:first-child {
  padding-left: 10px;
}

.emp-logo img {
  min-width: 80px;
  max-width: 80px;
  display: block;
  align-self: center;
}

@media (max-width: 670px) {
  .emp-logo {
    width: 20%;
  }
  .emp-logo img {
    min-width: 100%;
    max-width: 100%;
  }
}

.emp-mcr {
  max-width: 100px;
}

.socmed {
  display: flex;
}

.socmed a {
  margin-right: 10px;
  display: block;
}

.socmed a:last-child {
  margin-right: 0;
}

.socmed img {
  display: block;
  width: 24px;
  height: 24px;
}

@media (max-width: 670px) {
  .socmed {
    justify-content: center;
  }
}

.main-extra .socmed {
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  margin-left: auto;
  border-left: 1px solid rgba(204, 204, 204, 0.183);
}

.main-extra .socmed a {
  margin-right: 0;
}

.main-extra .socmed a:last-child {
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .main-extra .socmed {
    flex-direction: row;
    margin-left: 0;
    flex: 1;
    justify-content: space-around;
    border-left: 0;
    border-top: 1px solid rgba(204, 204, 204, 0.183);
  }
}

.-secondary .socmed {
  justify-content: space-around;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-self: center;
  padding: 0;
}

.main-nav.welcome-nav.is-hidden {
  display: flex;
}

.nav-item {
  width: 33.333%;
  transition: .3s;
  padding: 0 30px;
  padding-left: 40px;
}

.nav-item:hover h2 {
  text-decoration: underline;
  color: #ff82ff;
}

.nav-item:nth-child(n+4) {
  margin-top: 60px;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.nav-item h2 {
  font-size: 1.5rem;
  line-height: .75;
  margin-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-item p {
  font-size: .9rem;
  opacity: .8;
}

.extended-links {
  display: none;
}

.main-nav-trigger.welcome-nav-trigger {
  display: none;
}

@media (max-width: 1200px) {
  .main-nav {
    align-self: flex-start;
    padding-top: 30px;
  }
  .nav-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .nav-item:nth-child(n+4) {
    margin-top: 0;
  }
  .nav-item p {
    display: none;
  }
}

@media (max-width: 1044px) {
  .main-nav.welcome-nav.is-hidden {
    display: none;
  }
  .main-nav-trigger.welcome-nav-trigger {
    display: flex;
  }
}

@media (max-width: 800px) {
  .nav-item {
    width: 50%;
    padding-bottom: 10px;
  }
  .nav-item:not(.nav-item:nth-child(n+3)) {
    padding-right: 0;
  }
  .nav-item:nth-child(n+4) {
    margin-top: 0;
  }
}

.main-nav-trigger {
  display: flex;
  align-self: stretch;
  margin: auto;
}

.main-nav-trigger button {
  margin: auto;
  padding: 8px 30px 10px;
  background-color: #ecdc05;
  background-image: linear-gradient(65deg, #ffe30f, #7aff65);
  color: #4a3e4e;
  font-size: 1.2rem;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(152, 255, 252, 0.565);
}

.main-nav-trigger button:hover {
  background-color: #fff020;
}

.main-nav-trigger button:focus, .main-nav-trigger button:active {
  border: 3px solid #ff781e;
}

.main-nav-trigger button.is-active {
  filter: grayscale(100%);
}

@media (max-width: 1200px) {
  .-secondary .main-nav-trigger {
    margin: 20px auto;
  }
}

@media (max-width: 670px) {
  .main-nav-trigger {
    margin: 20px auto;
  }
}

.main-nav.is-hidden {
  display: none;
}

body.no-scroll {
  overflow: hidden;
}

.nav-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  z-index: 999;
  overflow: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border: 5px solid #ffe138;
}

.nav-open > * {
  z-index: 2;
}

.nav-open .main-nav {
  min-width: 100%;
  order: 1;
  align-self: flex-start;
  margin: 0;
  margin-bottom: auto;
  padding: 60px 30px;
  border-top: 1px solid rgba(204, 204, 204, 0.183);
}

.nav-open .nav-item {
  width: 25%;
  opacity: 0;
  animation: .5s fade-in forwards;
  animation-delay: .09s;
}

.nav-open .nav-item:nth-child(2) {
  animation-delay: .1s;
}

.nav-open .nav-item:nth-child(3) {
  animation-delay: .2s;
}

.nav-open .nav-item:nth-child(4) {
  animation-delay: .3s;
}

.nav-open .nav-item:nth-child(5) {
  animation-delay: .4s;
}

.nav-open .nav-item:nth-child(6) {
  animation-delay: .5s;
}

.nav-open .nav-item h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.nav-open .nav-item p {
  font-size: 1.2rem;
}

.nav-open .nav-item:nth-child(n+4) {
  margin-top: 0;
}

.nav-open .nav-item:nth-child(n+5) {
  margin-top: 30px;
}

.nav-open .main-nav-trigger {
  align-self: flex-start;
  flex: 1;
}

.nav-open .extended-links {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  list-style: none;
  font-size: 1.2rem;
}

.nav-open .extended-links li + li {
  margin-top: 10px;
}

.nav-open .extended-links a:hover {
  text-decoration: underline;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle {
  position: fixed;
  top: 50%;
  right: 50%;
  height: 0;
  width: 0;
  z-index: 3;
  border-radius: 50%;
  background-image: radial-gradient(rgba(29, 49, 13, 0.66), rgba(95, 37, 4, 0.469)), url(../images/menu-bg-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

.no-scroll .circle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  opacity: 1;
  border-radius: 0;
}

@keyframes circle {
  0% {
    height: 0;
    width: 0;
    top: -50%;
    right: -50%;
  }
  80% {
    height: 200%;
    width: 200%;
    top: -50%;
    right: -50%;
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    opacity: 1;
  }
}

.content-header {
  display: flex;
}

.content-header-nav {
  margin-bottom: 0;
  flex-direction: column;
  padding-bottom: 30px;
}

.content-header-nav.kathakali {
  background-image: linear-gradient(rgba(83, 133, 79, 0.803), rgba(235, 185, 77, 0.524));
  color: #ffffff;
}

.content-header-nav.mohiniyattam {
  background-image: linear-gradient(195deg, rgba(255, 191, 132, 0.524), rgba(255, 196, 0, 0.599));
  color: #ffffff;
}

.content-header-nav.bharathanatyam {
  background-image: radial-gradient(rgba(145, 0, 164, 0.381), rgba(187, 2, 2, 0.422));
  color: #ffffff;
}

.content-header-nav.bharathanatyam h1 {
  font-size: 2rem;
}

.content-header-nav.kuchipudi {
  background-image: radial-gradient(rgba(255, 237, 97, 0.272), rgba(0, 81, 221, 0.381));
  color: #ffffff;
}

.content-header-nav.art-forms {
  background-image: linear-gradient(135deg, rgba(113, 111, 54, 0.803), rgba(196, 21, 21, 0.639));
  color: #ffffff;
}

.content-header-nav.book {
  background-image: radial-gradient(rgba(255, 97, 6, 0.381), rgba(255, 237, 98, 0.422));
  color: #ffffff;
}

.content-header-nav.book h1 {
  font-size: 2rem;
}

.content-header-nav.training {
  background-image: linear-gradient(-45deg, rgba(26, 52, 117, 0.776), rgba(119, 42, 122, 0.803));
  color: #ffffff;
}

.content-header-nav.about-school {
  background-image: linear-gradient(-45deg, rgba(118, 51, 25, 0.776), rgba(119, 42, 122, 0.803));
  color: #ffffff;
}

.content-header-nav h1 {
  font-size: 2.4rem;
  font-weight: 300;
}

.content-header-links {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1.2rem;
}

.content-header-links a {
  display: block;
  color: inherit;
  padding: 10px 0;
}

.content-header-links a:hover {
  color: dodgerblue;
}

.content-header-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: linear-gradient(45deg, rgba(31, 225, 255, 0.218), rgba(253, 254, 164, 0.177));
}

.content-header-body p {
  padding: 30px 30px;
  font-size: 1.2rem;
  margin: auto;
}

.content-header-body p + p {
  padding-top: 0;
}

.content-header-lnk-group {
  display: flex;
}

.content-header-lnk-group:not(:only-child) {
  border-top: 1px solid rgba(204, 204, 204, 0.183);
}

.content-header-lnk-group a {
  padding: 30px;
  flex: 1;
  color: inherit;
  text-align: center;
  transition: .17s background-color;
  font-size: 1.2rem;
}

.content-header-lnk-group a:not(:last-child) {
  border-right: 1px solid rgba(204, 204, 204, 0.183);
}

.content-section {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.content-section + .content-section {
  margin-top: 30px;
}

.content-section-header {
  width: 100%;
}

.content-section-header.-half {
  width: 500px;
  padding-right: 30px;
}

.content-section-header.-sticky {
  align-self: flex-start;
  position: sticky;
  top: 30px;
  z-index: 9999;
}

.content-section-header h2 {
  display: flex;
}

.content-section-header h2:after {
  content: '';
  display: block;
  flex: 1;
  margin-left: 10px;
  background-image: linear-gradient(white, white);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: center center;
}

.content-section_content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.content-block {
  padding: 10px;
}

.content-block.-third {
  width: 33.333%;
}

.content-block.-fourth {
  width: 25%;
}

.content-block > img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.content-block.obj-fit > img {
  height: 100%;
  object-fit: cover;
  object-position: center right;
}

#members .content-block {
  padding: 0;
}

#members .content-block > img {
  max-width: 500px;
  width: auto;
}

.member-block {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.member-block + .member-block {
  margin-top: 30px;
}

.member-block .content-block_content {
  flex: 1;
  background-color: #fff;
  color: #363636;
  padding: 20px;
}

.member-block .content-block_content h3 {
  font-size: 2rem;
  font-weight: 300;
}

.member-block .content-block_content h4 {
  margin-top: 30px;
}

.member-block .content-block_content p {
  margin: 10px 0;
}

.content-block figcaption {
  text-align: center;
}

.content-block_label {
  font-size: 2rem;
}

.content-block_label-translation {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero-block {
  min-height: 500px;
  background-color: #222;
  display: flex;
}

.floating-header {
  max-width: 500px;
  padding: 30px;
  margin: auto 0 auto;
  background-color: #fff;
  color: #333;
}

.floating-header p {
  letter-spacing: 1px;
}

.block-w-bg > * {
  z-index: 2;
}

.block-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.intersection {
  display: flex;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.653);
}

.intersection-content {
  margin-left: 30px;
  max-width: 600px;
  color: #222;
  order: 1;
}

.intersection-content p + p {
  margin-top: 30px;
}

.intersection-img {
  flex: 1;
}

.intersection-img img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.main-footer {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  background-image: linear-gradient(-10deg, rgba(239, 171, 44, 0.27), rgba(255, 255, 200, 0.35), rgba(27, 216, 224, 0.49));
}

.main-footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-footer-copyright {
  /*    margin-bottom: 5px;*/
}

.main-footer .socmed {
  margin-bottom: 20px;
}

.quick-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid rgba(204, 204, 204, 0.183);
  padding: 0 30px;
}

.quick-nav a {
  color: inherit;
  text-decoration: none;
}

.quick-nav a:hover {
  color: dodgerblue;
}

.breadcrumbs {
  display: flex;
  padding: 20px 0;
  order: 2;
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
}

.breadcrumbs img {
  display: block;
  margin-top: 1px;
  opacity: .8;
}

.breadcrumbs a + a:before {
  content: "\00BB";
  padding: 0 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
}

.breadcrumbs a.is-active {
  text-decoration: underline;
  font-weight: 700;
}

.quick-links {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(204, 204, 204, 0.183);
}

.quick-links h2 {
  font-size: .9rem;
  font-weight: normal;
  margin-bottom: 0;
  min-width: 120px;
  padding: 10px;
  color: dodgerblue;
}

.quick-links a {
  border-left: 1px solid #dddddd;
  padding: 10px;
}

.quick-links:hover h2 {
  color: inherit;
}

[class*="icon-"]:before {
  padding: 0 0;
  margin-right: 8px;
  position: relative;
  top: 2px;
  filter: invert(1);
  display: inline-block;
}

.icon-info:before {
  content: url(../images/assets/icons/info.png);
}

.icon-call:before {
  content: url(../images/assets/icons/call.png);
}

.icon-msg:before {
  content: url(../images/assets/icons/msg.png);
}

.icon-fwd-c:before {
  content: url(../images/assets/icons/fwd-c.png);
}

.icon-home:before {
  content: url(../images/assets/icons/home.png);
}

.icon-white-block:before {
  content: '';
  position: absolute;
  left: 15px;
  top: 0;
  height: 16px;
  width: 16px;
  min-height: 16px;
  min-width: 16px;
  background-color: #fff;
  opacity: .5;
}

.main-banners {
  min-height: 450px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner {
  width: 25%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  opacity: 0;
  transform-origin: center center;
  animation: .7s fade-in ease-in-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@media (max-width: 1000px) {
  .main-banners {
    min-height: 300px;
  }
}

@media (max-width: 670px) {
  .banner {
    width: 50%;
    min-height: 200px;
  }
}

.banner-training {
  background-image: url(../images/banner/train_0.jpg);
  animation-delay: .3s;
}

.banner-artists {
  background-image: url(../images/banner/book-artforms.jpg);
  animation-delay: .2s;
}

.banner-productions {
  background-image: url(../images/banner/productions.jpg);
  animation-delay: .1s;
}

.banner-performances {
  background-image: url(../images/banner/performances.jpg);
}

.banner a {
  color: inherit;
}

.banner-header {
  padding: 15px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.banner-training .banner-header {
  background-color: rgba(73, 67, 43, 0.599);
}

.banner-artists .banner-header {
  background-color: rgba(145, 85, 47, 0.707);
}

.banner-productions .banner-header {
  background-color: rgba(196, 48, 43, 0.701);
}

.banner-performances .banner-header {
  background-color: rgba(236, 173, 25, 0.707);
}

.banner-header h2 {
  background-image: url(../images/assets/arrow-r.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px auto;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0px;
}

@media (max-width: 1000px) {
  .banner-header {
    padding: 20px;
  }
  .banner-header h2 {
    font-size: 1rem;
  }
  .banner-header p {
    font-size: .8rem;
  }
}

@media (max-width: 670px) {
  .banner-header p {
    display: none;
  }
}

/*
.banner-images {
    width: 100%;
    }
.banner-images img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: 10s;
    transition-timing-function: linear;
    }
@media (max-width: 1000px) {
    .banner-images img {
        height: 300px;
        }
    .banner-header h2 {
        font-size: 1rem;
        }
    }
*/
.content-section--about {
  background-image: url(../images/about-kathakali.jpg);
  background-size: cover;
  min-height: 500px;
  margin-top: 0;
}

.about-intro {
  display: flex;
}

@media (max-width: 456px) {
  .about-intro {
    flex-direction: column;
  }
}

.about-intro_text {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.about-intro_text p {
  line-height: 1.5;
}

.about-intro_text p + p {
  margin-top: 20px;
}

@media (max-width: 456px) {
  .about-intro_text {
    padding: 0 0 20px;
  }
}

.about-intro_img {
  margin-bottom: 30px;
  width: 100%;
  min-width: 300px;
}

@media (max-width: 456px) {
  .about-intro_img {
    margin-bottom: 10px;
  }
}

.about-intro_img img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.about-address {
  line-height: 1.4;
  order: 3;
}

.about-address b {
  font-size: 1.2rem;
}

.about-address p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.about-address a {
  color: inherit;
}

.about-map {
  max-width: 500px;
  display: flex;
  order: 2;
}

@media (max-width: 1030px) {
  .about-map {
    max-width: 100%;
    width: 100%;
    height: 300px;
    flex: auto;
  }
}

.about-map iframe {
  flex: 1;
  max-width: 100%;
}

.main-shows {
  margin-bottom: 5px;
}

.main-shows .main-heading, .main-shows .content-header-nav {
  padding: 30px;
  width: 30%;
  max-width: 30%;
}

@media (max-width: 1000px) {
  .main-shows .main-heading, .main-shows .content-header-nav {
    width: auto;
    max-width: 100%;
  }
}

.show-cell {
  display: block;
  width: 30%;
  padding: 30px;
  background-color: white;
  color: #39532d;
  text-decoration: none;
  min-width: 300px;
}

@media (max-width: 1000px) {
  .show-cell {
    padding: 20px;
  }
}

@media (max-width: 670px) {
  .show-cell {
    padding: 10px;
  }
}

.show-cell:hover {
  background-color: #e6e6e6;
}

.show-cell + .show-cell {
  margin-left: 1px;
}

.show-icon {
  margin-bottom: 10px;
}

.show-icon img {
  max-width: 80px;
}

.show-photo {
  margin-bottom: 10px;
}

.show-photo img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.main-event-slides {
  margin-bottom: 5px;
  flex: 1;
}

.main-event-slides img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event-slides {
  width: 100%;
  height: calc(100vh - 100px);
  margin-bottom: 5px;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
}

.slide-national-2015 {
  background-image: url(../images/event-highlights/national2015.jpg);
}

.slide-iffk-2011 {
  background-image: url(../images/event-highlights/iffk2011.jpg);
}

.slide-ipl-2011 {
  background-image: url(../images/event-highlights/ipl2011.jpg);
}

.slide-anandotsavam {
  background-image: url(../images/event-highlights/anandotsavam.jpg);
}

.slide-info {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 9;
  padding: 30px;
}

.event-slides img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.events-nav-list {
  display: flex;
  /* margin-bottom: 5px; */
}

.events-nav-item {
  min-height: 100px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  flex: 1;
}

.events-nav-item:hover {
  background-color: #257bd0;
}

.events-nav-item + .events-nav-item {
  /*    margin-left: 1px;*/
}

.events-nav-item h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  background-image: url(../images/assets/arrow-r.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px auto;
}

.events-nav-item p {
  font-size: 1rem;
}

.events-nav-item:nth-child(2) {
  background-color: #d54f4f;
}

.events-nav-item:nth-child(2):hover {
  background-color: #a55656;
}

.events-nav-item:nth-child(3) {
  background-color: #32a288;
}

.events-nav-item:nth-child(3):hover {
  background-color: #426960;
}

.events-nav-item:nth-child(4) {
  background-color: #e66124;
}

.events-nav-item:nth-child(4):hover {
  background-color: #a85c39;
}

.events-nav-item:nth-child(5) {
  background-color: #b12d9f;
}

.events-nav-item:nth-child(5):hover {
  background-color: #75406e;
}

.events-list {
  padding: 30px;
}

.events-list h2,
.video-list h2 {
  margin-bottom: 30px;
}

.events-list ul {
  padding: 0;
  list-style-position: inside;
}

.events-list li {
  margin-bottom: 20px;
}

.video-list {
  padding: 30px;
  background-color: white;
}

.training-artforms {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.training-artform-block {
  width: 50%;
  display: flex;
  margin-bottom: 30px;
  background-color: grey;
  min-height: 300px;
}

.training-artform-block:nth-child(odd) {
  border-right: 10px solid #FFEDE2;
}

.training-artform-block:nth-child(even) {
  border-left: 10px solid #FFEDE2;
}

.training-artform-img {
  width: 100%;
  max-width: 250px;
}

.training-artform-img img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.training-block-info {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.kathakali-training {
  background-size: cover;
}

.training-form {
  display: flex;
}

.training-form-content {
  flex: 1;
}

.training-form-content h3 {
  margin-bottom: 30px;
  font-size: 2rem;
  text-transform: capitalize;
}

.blocks-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.blocks-main .artform-block {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid transparent;
}

.blocks-main .artform-block-header {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
}

.blocks-main .artform-block-header h2 {
  font-size: 1.2rem;
}

.artform-block {
  background-size: cover;
  background-position: 50% 20%;
}

.artform-block.kathakali {
  background-image: url(../images/artforms/kathakali.jpg);
}

.artform-block.mohiniyattam {
  background-image: url(../images/artforms/mohiniyattam.JPG);
}

.artform-block.kalaripayyattu {
  background-image: url(../images/artforms/kalari.jpg);
}

.artform-block.bharathanatyam {
  background-image: url(../images/artforms/bharathanatyam.JPG);
}

.artform-block.chutti {
  background-image: url(../images/artforms/chutti.jpg);
}

.artform-block h2 {
  margin: 10px 0;
}

.artforms-main {
  display: flex;
}

.artforms-main .artform-block {
  min-height: 450px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  margin: 10px 5px;
}

.artforms-main .artform-block:first-child {
  margin-left: 10px;
}

.artforms-main .artform-block:last-child {
  margin-right: 10px;
}

.artforms-main .artform-block header {
  padding: 10px 20px;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.artforms-main .artform-block h2 {
  background-image: url(../images/assets/arrow-r.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px auto;
  margin-bottom: 0;
}

.artform-block-header-text {
  padding: 20px;
  background-color: #fff;
  color: #222;
}

.artforms-multi-col {
  padding: 5px;
  padding-bottom: 0;
  column-count: 4;
  column-gap: 5px;
}

.artforms-multi-col .artform-block {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #8e8e8e;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  break-inside: avoid;
  overflow: hidden;
}

.artform-blocks_training {
  justify-content: flex-start;
}

.artform-blocks_training .artform-block {
  width: 33.333%;
  padding: 5px;
}

.artform-blocks_training .artform-block .artform-block-header {
  flex-direction: row;
}

.artform-blocks_training .artform-block .artform-block-header .artform-block-header-text {
  flex: 1;
}

.artform-blocks_training .artform-block-img img {
  object-fit: cover;
  object-position: 50% 10%;
  height: 350px;
}

.artform-block-img img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.forms {
  display: flex;
  overflow-x: hidden;
}

.artform-selection-instruction-2 {
  display: none;
}

.artform-selection-instruction-1 {
  display: block;
}

.artform-selection {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  padding: 10px;
  transition: .3s;
}

.artform-item {
  width: calc(100% / 6);
  flex: 0 0 calc(100% / 6 - 10px);
  cursor: pointer;
  margin: 5px;
  border: 0;
}

.artform-item:focus {
  outline: 3px solid dodgerblue;
}

.artform-item.is-selected {
  background-image: linear-gradient(#33a533, #47cf47);
  background-repeat: no-repeat;
  background-size: calc(100%) calc(100%);
}

.artform-item.is-selected:after {
  content: "✔";
  position: absolute;
  z-index: 9;
  top: 5px;
  right: 5px;
  color: white;
  padding: 5px;
  background-color: #47cf47;
}

.artform-item.is-selected .artform-item-label {
  color: #fff;
}

.artform-item img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.artform-item-label {
  padding: 10px;
}

.artform-item-label .name {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.progress-tracker {
  flex: 1;
  background-color: white;
}

.progress-tracker.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0);
  z-index: 99;
}

.progress-tracker button {
  display: block;
  border: 0;
  flex: 1;
  padding: 30px;
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  background-image: url(../images/assets/arrow-r.svg);
  background-repeat: no-repeat;
  background-position: 0 26px;
}

.progress-tracker button:hover {
  background-color: #ebc700;
}

#form-part-2 {
  width: 0;
  transition: .3s;
  padding-right: 10px;
}

#form-part-2 header {
  display: none;
  padding: 10px;
  background-color: #ffc62a;
  color: #222;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

#form-part-2 header h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

#form-part-2 header .selected-artform-counter {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 1.2rem;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-left: auto;
  margin-right: 10px;
}

#form-part-2 header p {
  width: 100%;
}

#form-part-2 header p button {
  padding: 4px;
  border: 1px solid #2a4c6e;
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#form-part-2.is-active {
  width: 25%;
}

#form-part-2.is-active header {
  display: flex;
}

.selected-artforms-group {
  display: flex;
  flex-direction: column;
}

.selected-artforms-group .selected-artform {
  background-color: #fff;
  padding: 10px;
  padding-right: 30px;
  color: #222;
  margin-bottom: 10px;
  display: flex;
  animation: .3s slide-in-right forwards, 2s fade-in-bg forwards;
}

.selected-artforms-group .selected-artform-img {
  display: none;
}

.selected-artforms-group .selected-artform-img img {
  display: block;
}

.selected-artforms-group label, .selected-artforms-group input {
  display: block;
}

.selected-artforms-group label {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.selected-artforms-group label span {
  display: block;
  font-size: 1.4rem;
}

.selected-artforms-group label span + span {
  margin-top: 5px;
  font-size: .9rem;
}

.selected-artforms-group input {
  padding: 5px;
}

.selected-artform-close {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #cc2727;
  color: white;
  height: 30px;
  width: 30px;
  border: 1px solid white;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bg {
  0% {
    background-color: #FFC62A;
  }
  100% {
    background-color: #fff;
  }
}

#form-part-3 {
  display: none;
}

.forms.final-step .artform-selection {
  width: 0;
  padding: 0;
}

.forms.final-step .artform-selection * {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  transition: .3s;
}

.forms.final-step .artform-selection-instruction-1 {
  display: none;
}

.forms.final-step .artform-selection-instruction-2 {
  display: block;
}

.forms.final-step #form-part-2 {
  padding-right: 0;
}

.forms.final-step .selected-artform-img {
  display: block;
  max-width: 120px;
  margin-right: 10px;
}

.forms.final-step .selected-artform-img img {
  display: block;
  max-width: 100%;
}

.forms.final-step #form-part-3 {
  display: flex;
  flex: 1;
}

.user-form {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
}

.user-form label {
  margin-bottom: 20px;
}

.user-form .user-form-radio {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.user-form .user-form-radio:last-child {
  margin-bottom: 20px;
}

.user-form .user-form-radio .label {
  width: 30px;
}

.user-form .user-form-radio input {
  width: auto;
}

.user-form input,
.user-form textarea {
  padding: 5px;
  max-width: 500px;
  width: 100%;
  font-family: inherit;
  font-size: 1.2rem;
}

.user-form button {
  align-self: flex-start;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2a4c6e;
  background-color: dodgerblue;
  color: white;
  width: 200px;
}

.kathakali-columns {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.kathakali-column {
  width: 50%;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
}

.kathakali-column:nth-child(odd) {
  padding-right: 15px;
}

.kathakali-column:nth-child(even) {
  padding-left: 15px;
}

.kathakali-column h2 {
  height: 300px;
  display: flex;
  align-items: flex-end;
  padding: 0 15px;
  margin: 0;
  font-size: 1.4rem;
  background-size: cover;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.kathakali-column h2 span {
  background-image: linear-gradient(135deg, rgba(83, 133, 79, 0.803), rgba(235, 145, 37, 0.8));
  padding: 15px 30px 10px;
  width: 100%;
  line-height: 1;
}

.kathakali-column p {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 30px 30px;
  margin: 0 15px;
  flex: 1;
}

.kathakali-column-chutti {
  background-image: url(../images/kathakali-page/chutti-bg.jpg);
}

.kathakali-column-expressions {
  background-image: url(../images/kathakali-page/expressions-bg.jpg);
}

.kathakali-column-mudras {
  background-image: url(../images/kathakali-page/mudra-bg.jpg);
}

.kathakali-column-ensemble {
  background-image: url(../images/kathakali-page/ensemble-bg.jpg);
}

#mudras img {
  filter: invert(1);
}

.artform-profile {
  display: flex;
}

.artform-portrait {
  max-width: 25%;
  width: 25%;
}

.artform-portrait img {
  width: 100%;
  max-width: 100%;
  display: block;
  position: sticky;
  top: 0;
}

.artform-profile-content {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 40px;
}

.artform-profile-content_intro {
  margin-bottom: 40px;
}

.artform-profile-content_intro p {
  font-size: 1.4rem;
}

.artform-profile-content_intro p + p {
  margin-top: 20px;
}

.artform-profile-images {
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.artform-profile-content_body p {
  font-size: 1.2rem;
}

.artform-profile-content_body p + p {
  margin-top: 20px;
}

.about-content-banner img {
  width: 100%;
  max-width: 100%;
}

.about-content-header {
  text-align: center;
  margin: 0 auto;
  margin-top: -4rem;
  max-width: 800px;
  background-image: linear-gradient(rgba(83, 133, 79, 0.803), rgba(235, 185, 77, 0.524));
  color: #fffcae;
}

.about-content-header h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0;
}

.about-content-header p {
  font-size: 3rem;
}

.about-content-body > header {
  border-top: 1px solid rgba(204, 204, 204, 0.183);
  border-bottom: 1px solid rgba(204, 204, 204, 0.183);
  display: flex;
}

.about-content-body > header p {
  padding: 20px;
}

.about-content-body.col-3 {
  column-count: 3;
  padding: 30px;
  margin-bottom: 60px;
}

.about-content-body > p {
  margin-bottom: 30px;
}

.pub-collection {
  display: flex;
  flex-wrap: wrap;
}

.pub-item {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.pub-item + .pub-item {
  border-left: 1px solid rgba(204, 204, 204, 0.183);
}

.pub-item-thumb {
  width: 200px;
  margin-bottom: 10px;
}

.pub-item-attr {
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */