@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700");
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-family: 'Lato', "Segoe UI", sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  border: 5px solid #da4444;
  background-color: #ffe138;
  border: 5px solid #da4444;
  border: 5px solid #ffe138;
  background-color: white;
  background-color: #ebebeb;
  background-color: white;
  background-image: radial-gradient(farthest-corner at 100% 0, rgba(255, 162, 119, 0.6), rgba(238, 104, 104, 0) 50%), radial-gradient(farthest-corner at 0 0, rgba(255, 239, 160, 0.762), rgba(255, 232, 115, 0) 50%), radial-gradient(rgba(129, 255, 66, 0.224), rgba(194, 235, 255, 0.524));
  background-attachment: fixed;
  min-height: 100vh;
  color: #454545;
}

@media (max-width: 670px) {
  body {
    border-width: 2px;
    padding: 2px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin-bottom: 20px;
}

.p30 {
  padding: 30px;
}

.v-pad {
  padding-top: 30px;
  padding-bottom: 30px;
}

.viewport-fold {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 670px) {
  .viewport-fold {
    padding-top: 30px;
  }
}

.col-wrap {
  display: flex;
}

.col-wrap > * {
  flex: 1;
}

.main-heading, .content-header-nav {
  flex: 1;
  display: flex;
  padding: 20px 30px;
  min-width: 25%;
  max-width: 25%;
  border-right: 1px solid #cccccc;
  margin-bottom: 1px;
  text-transform: uppercase;
  font-weight: 900;
}

.section-header {
  padding: 30px;
}

.lnk-prom {
  padding: 10px;
  background-color: #57d657;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  align-self: flex-start;
}

.flickity-prev-next-button {
  border-radius: 0;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-size: cover;
  border-bottom: 1px solid #cccccc;
}

.main-header.-secondary {
  justify-content: flex-start;
}

.main-fold .main-header {
  order: 2;
}

@media (max-width: 1200px) {
  .main-header {
    align-items: flex-start;
  }
}

@media (max-width: 1000px) {
  .main-header {
    padding: 20px;
    padding-right: 0;
  }
}

@media (max-width: 670px) {
  .main-header {
    padding: 20px 10px;
  }
  .main-fold .main-header {
    order: 1;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  border-right: 1px solid #cccccc;
}

@media (max-width: 670px) {
  .logo {
    margin: auto;
    text-align: center;
  }
}

.logo-group {
  display: flex;
  text-decoration: none;
  color: inherit;
  padding-bottom: 20px;
  padding-left: 30px;
}

@media (max-width: 750px) {
  .logo-group {
    align-items: flex-start;
  }
}

@media (max-width: 670px) {
  .logo-group {
    /*        flex-direction: row;*/
  }
}

.logo-text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: segoe ui;
}

.logo-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: inherit;
  font-size: 2.2rem;
  line-height: .75;
  font-weight: 900;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.logo-title br {
  display: none;
}

@media (max-width: 1080px) {
  .logo-title {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .logo-title {
    font-size: 1.4rem;
  }
  .logo-title br {
    display: none;
  }
}

@media (max-width: 670px) {
  .logo-title {
    font-size: 2.3rem;
  }
  .logo-title br {
    /*        display: block;*/
  }
}

.logo-about {
  text-align: justify;
}

.logo-location {
  margin-top: auto;
  font-size: .8rem;
}

.logo-address {
  color: inherit;
}

.contact-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid #cccccc;
}

.main-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .9rem;
  padding: 15px;
}

.-secondary .main-contact {
  justify-content: space-around;
}

.phone {
  margin-right: 20px;
}

@media (max-width: 670px) {
  .phone {
    margin-right: 0;
  }
}

@media (max-width: 920px) {
  .logo-contact {
    flex-direction: column;
  }
}

.logo-img {
  width: 80px;
  margin-right: 10px;
}

.logo-img img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.logo-img-wrap:nth-child(2) {
  display: none;
}

@media (max-width: 1080px) {
  .logo-img {
    width: 50px;
  }
}

@media (max-width: 750px) {
  .logo-img {
    display: flex;
    /*        justify-content: space-around;*/
    width: 130px;
  }
  .logo-img-wrap {
    width: 80px;
  }
  .logo-img-wrap:nth-child(2) {
    display: block;
    padding-left: 10px;
  }
}

.main-extra {
  display: flex;
  width: 100%;
  padding-left: 30px;
  border-top: 1px solid #cccccc;
}

.-secondary .main-extra {
  width: auto;
  align-self: stretch;
  padding-left: 0;
  align-items: stretch;
}

.emp-logo {
  max-width: 80px;
  padding: 20px 10px;
  border-right: 1px solid #cccccc;
}

.-secondary .emp-logo {
  display: flex;
}

.emp-logo img {
  width: 100%;
  max-width: 100%;
  display: block;
  align-self: center;
}

.emp-mcr {
  max-width: 100px;
}

.socmed {
  display: flex;
}

.socmed a {
  margin-right: 10px;
  display: block;
}

.socmed a:last-child {
  margin-right: 0;
}

.socmed img {
  display: block;
  width: 24px;
  height: 24px;
}

@media (max-width: 670px) {
  .socmed {
    justify-content: center;
  }
}

.main-extra .socmed {
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  margin-left: auto;
  border-left: 1px solid #cccccc;
}

.main-extra .socmed a {
  margin-right: 0;
}

.main-extra .socmed a:last-child {
  margin-bottom: 0;
}

.-secondary .socmed {
  justify-content: space-around;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-self: center;
  padding: 0 30px;
}

@media (max-width: 1000px) {
  .main-nav {
    max-width: 400px;
  }
}

@media (max-width: 670px) {
  .main-nav {
    display: none;
  }
}

.nav-item {
  width: 33.333%;
  transition: .3s;
  padding-left: 20px;
}

.nav-item:hover h2 {
  text-decoration: underline;
}

.nav-item:nth-child(n+4) {
  margin-top: 30px;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.nav-item h2 {
  font-size: 1rem;
  line-height: .75;
  margin-bottom: 10px;
}

.nav-item p {
  font-size: .9rem;
}

.extended-links {
  display: none;
}

@media (max-width: 1200px) {
  .nav-item {
    text-align: center;
  }
  .nav-item p {
    display: none;
  }
}

@media (max-width: 800px) {
  .nav-item {
    width: 50%;
    padding-bottom: 10px;
  }
  .nav-item:not(.nav-item:nth-child(n+3)) {
    padding-right: 0;
  }
  .nav-item:nth-child(n+4) {
    margin-top: 0;
  }
}

.main-nav-trigger {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;
  display: none;
}

@media (max-width: 670px) {
  .main-nav-trigger {
    display: block;
  }
}

.content-header {
  margin-bottom: 1px;
  display: flex;
}

.content-header-nav {
  flex-direction: column;
  padding-bottom: 30px;
}

.content-header-nav h1 {
  font-size: 2.4rem;
  font-weight: 900;
}

.content-header-links {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1.2rem;
}

.content-header-links a {
  display: block;
  color: inherit;
  padding: 10px 0;
}

.content-header-links a:hover {
  color: dodgerblue;
}

.content-header-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-header-body p {
  padding: 30px;
  font-size: 1.2rem;
  margin: auto;
}

.content-header-lnk-group {
  display: flex;
  margin-top: auto;
  border-top: 1px solid #cccccc;
}

.content-header-lnk-group a {
  padding: 30px;
  flex: 1;
  color: inherit;
  text-align: center;
  transition: .17s background-color;
}

.content-header-lnk-group a:not(:last-child) {
  border-right: 1px solid #cccccc;
}

.content-header-lnk-group a:hover {
  background-color: #e6e6e6;
}

.main-footer {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  background-image: linear-gradient(-10deg, rgba(239, 171, 44, 0.27), rgba(255, 255, 200, 0.35), rgba(27, 216, 224, 0.49));
  color: #666666;
}

.main-footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-footer-copyright {
  /*    margin-bottom: 5px;*/
}

.main-footer .socmed {
  margin-bottom: 20px;
}

.quick-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.quick-nav a {
  color: inherit;
  text-decoration: none;
}

.quick-nav a:hover {
  color: dodgerblue;
}

.breadcrumbs {
  display: flex;
  padding: 20px;
  padding-left: 30px;
  order: 2;
}

.breadcrumbs a {
  display: block;
}

.breadcrumbs a + a:before {
  content: "»";
  padding: 0 10px;
  text-decoration: none;
}

.quick-links {
  display: flex;
  align-items: center;
  border-left: 1px solid #ddd;
}

.quick-links h2 {
  font-size: .9rem;
  font-weight: normal;
  margin-bottom: 0;
  min-width: 120px;
  padding: 10px;
  color: dodgerblue;
}

.quick-links a {
  border-left: 1px solid #dddddd;
  padding: 10px;
}

.quick-links:hover h2 {
  color: inherit;
}

[class*="icon-"]:before {
  opacity: .8;
  padding: 8px 0;
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.icon-info:before {
  content: url(../images/assets/icons/info.png);
}

.icon-call:before {
  content: url(../images/assets/icons/call.png);
}

.icon-msg:before {
  content: url(../images/assets/icons/msg.png);
}

.icon-fwd-c:before {
  content: url(../images/assets/icons/fwd-c.png);
}

.icon-home:before {
  content: url(../images/assets/icons/home.png);
}

.main-banners {
  min-height: 450px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1px;
}

.banner {
  width: 25%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  opacity: 0;
  transform: scale(0, 0);
  transform-origin: center center;
  animation: .7s fade-in ease-in-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@media (max-width: 670px) {
  .banner {
    width: 50%;
    min-height: 200px;
  }
}

.banner-training {
  background-image: url(../images/banner/train_0.jpg);
  animation-delay: .3s;
}

.banner-artists {
  background-image: url(../images/banner/book-artforms.jpg);
  animation-delay: .2s;
}

.banner-productions {
  background-image: url(../images/banner/productions.jpg);
  animation-delay: .1s;
}

.banner-performances {
  background-image: url(../images/banner/performances.jpg);
}

.banner + .banner {
  border-left: 1px solid #ddd;
}

.banner a {
  color: inherit;
}

.banner-header {
  padding: 15px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.banner-training .banner-header {
  background-color: rgba(22, 75, 93, 0.612);
}

.banner-artists .banner-header {
  background-color: rgba(226, 219, 0, 0.755);
  color: #3c307f;
}

.banner-productions .banner-header {
  background-color: rgba(138, 48, 6, 0.769);
}

.banner-performances .banner-header {
  background-color: rgba(225, 50, 187, 0.803);
}

.banner-header h2 {
  background-image: url(../images/assets/arrow-r.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px auto;
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .banner-header {
    padding: 20px;
  }
  .banner-header h2 {
    font-size: 1rem;
  }
  .banner-header p {
    font-size: .8rem;
  }
}

@media (max-width: 670px) {
  .banner-header p {
    display: none;
  }
}

/*
.banner-images {
    width: 100%;
    }
.banner-images img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: 10s;
    transition-timing-function: linear;
    }
@media (max-width: 1000px) {
    .banner-images img {
        height: 300px;
        }
    .banner-header h2 {
        font-size: 1rem;
        }
    }
*/
.main-about {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  margin-bottom: 5px;
}

.main-about > * {
  padding: 30px;
  flex: 1;
}

@media (max-width: 1000px) {
  .main-about > * {
    padding: 20px;
  }
}

@media (max-width: 670px) {
  .main-about > * {
    padding: 10px;
  }
}

.about-intro {
  display: flex;
}

@media (max-width: 456px) {
  .about-intro {
    flex-direction: column;
  }
}

.about-intro_text {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.about-intro_text p {
  line-height: 1.5;
}

.about-intro_text p + p {
  margin-top: 20px;
}

@media (max-width: 456px) {
  .about-intro_text {
    padding: 0 0 20px;
  }
}

.about-intro_img {
  margin-bottom: 30px;
  width: 100%;
  min-width: 300px;
}

@media (max-width: 456px) {
  .about-intro_img {
    margin-bottom: 10px;
  }
}

.about-intro_img img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.about-address {
  line-height: 1.4;
  order: 3;
}

.about-address b {
  font-size: 1.2rem;
}

.about-address p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.about-address a {
  color: inherit;
}

.about-map {
  max-width: 500px;
  display: flex;
  order: 2;
}

@media (max-width: 1030px) {
  .about-map {
    max-width: 100%;
    width: 100%;
    height: 300px;
    flex: auto;
  }
}

.about-map iframe {
  flex: 1;
  max-width: 100%;
}

.main-shows {
  margin-bottom: 5px;
}

.main-shows .main-heading, .main-shows .content-header-nav {
  padding: 30px;
  width: 30%;
  max-width: 30%;
}

.show-cell {
  width: 30%;
  padding: 30px;
  background-color: white;
  color: inherit;
  text-decoration: none;
  min-width: 300px;
}

@media (max-width: 1000px) {
  .show-cell {
    padding: 20px;
  }
}

@media (max-width: 670px) {
  .show-cell {
    padding: 10px;
  }
}

.show-cell:hover {
  background-color: #e6e6e6;
}

.show-cell + .show-cell {
  margin-left: 1px;
}

.show-icon {
  margin-bottom: 10px;
}

.show-icon img {
  max-width: 80px;
}

.show-photo {
  margin-bottom: 10px;
}

.show-photo img {
  width: 100%;
  max-width: 100%;
}

.main-event-slides {
  margin-bottom: 5px;
  flex: 1;
}

.main-event-slides img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event-slides {
  width: 100%;
  height: calc(100vh - 100px);
  margin-bottom: 5px;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
}

.slide-national-2015 {
  background-image: url(../images/event-highlights/national2015.jpg);
}

.slide-iffk-2011 {
  background-image: url(../images/event-highlights/iffk2011.jpg);
}

.slide-ipl-2011 {
  background-image: url(../images/event-highlights/ipl2011.jpg);
}

.slide-anandotsavam {
  background-image: url(../images/event-highlights/anandotsavam.jpg);
}

.slide-info {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 9;
  padding: 30px;
}

.event-slides img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.events-nav-list {
  display: flex;
  /* margin-bottom: 5px; */
}

.events-nav-item {
  min-height: 100px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  flex: 1;
}

.events-nav-item:hover {
  background-color: #257bd0;
}

.events-nav-item + .events-nav-item {
  /*    margin-left: 1px;*/
}

.events-nav-item h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  background-image: url(../images/assets/arrow-r.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px auto;
}

.events-nav-item p {
  font-size: 1rem;
}

.events-nav-item:nth-child(2) {
  background-color: #d54f4f;
}

.events-nav-item:nth-child(2):hover {
  background-color: #a55656;
}

.events-nav-item:nth-child(3) {
  background-color: #32a288;
}

.events-nav-item:nth-child(3):hover {
  background-color: #426960;
}

.events-nav-item:nth-child(4) {
  background-color: #e66124;
}

.events-nav-item:nth-child(4):hover {
  background-color: #a85c39;
}

.events-nav-item:nth-child(5) {
  background-color: #b12d9f;
}

.events-nav-item:nth-child(5):hover {
  background-color: #75406e;
}

.events-list {
  padding: 30px;
}

.events-list h2,
.video-list h2 {
  margin-bottom: 30px;
}

.events-list ul {
  padding: 0;
  list-style-position: inside;
}

.events-list li {
  margin-bottom: 20px;
}

.video-list {
  padding: 30px;
  background-color: white;
}

.training-artforms {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.training-artform-block {
  width: 50%;
  display: flex;
  margin-bottom: 30px;
  background-color: grey;
  min-height: 300px;
}

.training-artform-block:nth-child(odd) {
  border-right: 10px solid #FFEDE2;
}

.training-artform-block:nth-child(even) {
  border-left: 10px solid #FFEDE2;
}

.training-artform-img {
  width: 100%;
  max-width: 250px;
}

.training-artform-img img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.training-block-info {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.kathakali-training {
  background-size: cover;
}

.artforms-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.artforms-main .artform-block {
  width: 25%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.artforms-main .artform-block:nth-child(4n) ~ .artform-block {
  border-top: 1px solid white;
}

.artforms-main .artform-block + .artform-block {
  border-left: 1px solid white;
}

.artforms-main .artform-block-header {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
}

.artforms-main .artform-block-header h2 {
  font-size: 1.2rem;
}

.artforms-main .artform-block-header a {
  color: white;
}

.artform-block {
  background-size: cover;
  background-position: center center;
}

.artform-block.kathakali {
  background-image: url(../images/artforms/kathakali.jpg);
}

.artform-block.mohiniyattam {
  background-image: url(../images/artforms/mohiniyattam.JPG);
}

.artform-block.kalaripayyattu {
  background-image: url(../images/artforms/kalari.jpg);
}

.artform-block.bharathanatyam {
  background-image: url(../images/artforms/bharathanatyam.JPG);
}

.artform-block.chutti {
  background-image: url(../images/artforms/chutti.jpg);
}

.artforms-multi-col {
  column-count: 4;
  column-gap: 5px;
}

.artforms-multi-col .artform-block {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #8e8e8e;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  break-inside: avoid;
  overflow: hidden;
}

.artform-block-img {
  margin-bottom: 10px;
}

.artform-block-img img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.artform-selection {
  display: flex;
  flex-wrap: wrap;
  transition: 2s;
}

.artform-selection.hide-section {
  display: none;
}

.progress-tracker {
  flex: 1;
  background-color: white;
}

.progress-tracker.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0);
  z-index: 99;
}

.progress-tracker button {
  display: block;
  border: 0;
  flex: 1;
  padding: 30px;
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  background-image: url(../images/assets/arrow-r.svg);
  background-repeat: no-repeat;
  background-position: 0 26px;
}

.progress-tracker button:hover {
  background-color: #ebc700;
}

.on-step-1 .progress-1,
.on-step-2 .progress-2,
.on-step-3 .progress-3 {
  background-color: #ffe138;
}

.steps {
  flex: 1;
  background-color: white;
  overflow: hidden;
}

.steps .step-2,
.steps .step-3 {
  display: none;
}

.on-step-2 .step-1 {
  display: none;
}

.on-step-2 .step-2 {
  display: block;
}

.on-step-3 .step-1,
.on-step-3 .step-2 {
  display: none;
}

.on-step-3 .step-3 {
  display: block;
}

.artform-input-fields > [for^="art-"] {
  display: none;
}

.checkbox-hax {
  display: none;
}

.checkbox-hax#kathakali:checked ~ .artform-selection label[for="kathakali"],
.checkbox-hax#mohiniyattam:checked ~ .artform-selection label[for="mohiniyattam"],
.checkbox-hax#kalaripayattu:checked ~ .artform-selection label[for="kalaripayattu"],
.checkbox-hax#bharathanatyam:checked ~ .artform-selection label[for="bharathanatyam"],
.checkbox-hax#theyyam:checked ~ .artform-selection label[for="theyyam"],
.checkbox-hax#thiruvathirakali:checked ~ .artform-selection label[for="thiruvathirakali"],
.checkbox-hax#panchavadhyam:checked ~ .artform-selection label[for="panchavadhyam"],
.checkbox-hax#pookkavadi:checked ~ .artform-selection label[for="pookkavadi"],
.checkbox-hax#kuchipudi:checked ~ .artform-selection label[for="kuchipudi"],
.checkbox-hax#mayooranritham:checked ~ .artform-selection label[for="mayooranritham"],
.checkbox-hax#poothankali:checked ~ .artform-selection label[for="poothankali"],
.checkbox-hax#poothan-thira:checked ~ .artform-selection label[for="poothan-thira"],
.checkbox-hax#pulikali:checked ~ .artform-selection label[for="pulikali"],
.checkbox-hax#kummatti:checked ~ .artform-selection label[for="kummatti"],
.checkbox-hax#poothankali:checked ~ .artform-selection label[for="poothankali"],
.checkbox-hax#nilakavadi:checked ~ .artform-selection label[for="nilakavadi"] {
  background-image: linear-gradient(#33a533, #47cf47);
  background-repeat: no-repeat;
  background-size: calc(100%) calc(100%);
}

.checkbox-hax#kathakali:checked ~ .artform-selection label[for="kathakali"]:after,
.checkbox-hax#mohiniyattam:checked ~ .artform-selection label[for="mohiniyattam"]:after,
.checkbox-hax#kalaripayattu:checked ~ .artform-selection label[for="kalaripayattu"]:after,
.checkbox-hax#bharathanatyam:checked ~ .artform-selection label[for="bharathanatyam"]:after,
.checkbox-hax#theyyam:checked ~ .artform-selection label[for="theyyam"]:after,
.checkbox-hax#thiruvathirakali:checked ~ .artform-selection label[for="thiruvathirakali"]:after,
.checkbox-hax#panchavadhyam:checked ~ .artform-selection label[for="panchavadhyam"]:after,
.checkbox-hax#pookkavadi:checked ~ .artform-selection label[for="pookkavadi"]:after,
.checkbox-hax#kuchipudi:checked ~ .artform-selection label[for="kuchipudi"]:after,
.checkbox-hax#mayooranritham:checked ~ .artform-selection label[for="mayooranritham"]:after,
.checkbox-hax#poothankali:checked ~ .artform-selection label[for="poothankali"]:after,
.checkbox-hax#poothan-thira:checked ~ .artform-selection label[for="poothan-thira"]:after,
.checkbox-hax#pulikali:checked ~ .artform-selection label[for="pulikali"]:after,
.checkbox-hax#kummatti:checked ~ .artform-selection label[for="kummatti"]:after,
.checkbox-hax#poothankali:checked ~ .artform-selection label[for="poothankali"]:after,
.checkbox-hax#nilakavadi:checked ~ .artform-selection label[for="nilakavadi"]:after {
  content: "✔";
  position: absolute;
  z-index: 9;
  top: 5px;
  right: 5px;
  color: white;
  padding: 5px;
  background-color: #47cf47;
}

.checkbox-hax#kathakali:checked ~ .artform-selection label[for="kathakali"] .artform-item-label,
.checkbox-hax#mohiniyattam:checked ~ .artform-selection label[for="mohiniyattam"] .artform-item-label,
.checkbox-hax#kalaripayattu:checked ~ .artform-selection label[for="kalaripayattu"] .artform-item-label,
.checkbox-hax#bharathanatyam:checked ~ .artform-selection label[for="bharathanatyam"] .artform-item-label,
.checkbox-hax#theyyam:checked ~ .artform-selection label[for="theyyam"] .artform-item-label,
.checkbox-hax#thiruvathirakali:checked ~ .artform-selection label[for="thiruvathirakali"] .artform-item-label,
.checkbox-hax#panchavadhyam:checked ~ .artform-selection label[for="panchavadhyam"] .artform-item-label,
.checkbox-hax#pookkavadi:checked ~ .artform-selection label[for="pookkavadi"] .artform-item-label,
.checkbox-hax#kuchipudi:checked ~ .artform-selection label[for="kuchipudi"] .artform-item-label,
.checkbox-hax#mayooranritham:checked ~ .artform-selection label[for="mayooranritham"] .artform-item-label,
.checkbox-hax#poothankali:checked ~ .artform-selection label[for="poothankali"] .artform-item-label,
.checkbox-hax#poothan-thira:checked ~ .artform-selection label[for="poothan-thira"] .artform-item-label,
.checkbox-hax#pulikali:checked ~ .artform-selection label[for="pulikali"] .artform-item-label,
.checkbox-hax#kummatti:checked ~ .artform-selection label[for="kummatti"] .artform-item-label,
.checkbox-hax#poothankali:checked ~ .artform-selection label[for="poothankali"] .artform-item-label,
.checkbox-hax#nilakavadi:checked ~ .artform-selection label[for="nilakavadi"] .artform-item-label {
  color: #fff;
}

.checkbox-hax#kathakali:checked ~ #form-part-2 [for="art-kathakali"],
.checkbox-hax#mohiniyattam:checked ~ #form-part-2 [for="art-mohiniyattam"],
.checkbox-hax#kalaripayattu:checked ~ #form-part-2 [for="art-kalaripayattu"],
.checkbox-hax#bharathanatyam:checked ~ #form-part-2 [for="art-bharathanatyam"],
.checkbox-hax#theyyam:checked ~ #form-part-2 [for="art-theyyam"],
.checkbox-hax#thiruvathirakali:checked ~ #form-part-2 [for="art-thiruvathirakali"],
.checkbox-hax#panchavadhyam:checked ~ #form-part-2 [for="art-panchavadhyam"],
.checkbox-hax#pookkavadi:checked ~ #form-part-2 [for="art-pookkavadi"],
.checkbox-hax#kuchipudi:checked ~ #form-part-2 [for="art-kuchipudi"],
.checkbox-hax#mayooranritham:checked ~ #form-part-2 [for="art-mayooranritham"],
.checkbox-hax#poothankali:checked ~ #form-part-2 [for="art-poothankali"],
.checkbox-hax#poothan-thira:checked ~ #form-part-2 [for="art-poothan-thira"],
.checkbox-hax#pulikali:checked ~ #form-part-2 [for="art-pulikali"],
.checkbox-hax#kummatti:checked ~ #form-part-2 [for="art-kummatti"],
.checkbox-hax#poothankali:checked ~ #form-part-2 [for="art-poothankali"],
.checkbox-hax#nilakavadi:checked ~ #form-part-2 [for="art-nilakavadi"] {
  display: flex;
  flex-direction: column;
}

#form-part-1,
#form-part-2,
#form-part-3 {
  display: none;
}

.on-step-1 #form-part-1 {
  display: flex;
}

.on-step-2 #form-part-2 {
  display: flex;
}

.on-step-3 #form-part-3 {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
}

.on-step-3 #form-part-3 .user-form {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.on-step-3 #form-part-3 label {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.on-step-3 #form-part-3 .label {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}

.on-step-3 #form-part-3 input, .on-step-3 #form-part-3 textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #999;
  font-family: inherit;
}

.on-step-3 #form-part-3 button {
  padding: 20px;
  width: 200px;
  border: 0;
  margin-left: auto;
  margin-right: 10px;
  background-color: #57d657;
  color: white;
  font-weight: bold;
}

.artform-input-fields {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.artform-input-fields label {
  padding: 30px;
  width: calc(20% - 2px);
  background-color: white;
}

.artform-input-fields label + label {
  margin-left: 1px;
}

.artform-input-fields label:nth-child(5n),
.artform-input-fields label:nth-child(5n) ~ label {
  margin-top: 2px;
}

.artform-input-fields .label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.artform-input-fields [type=number] {
  border: 1px solid #999;
  padding: 10px;
}

.artform-item {
  width: calc(100% / 6);
  padding: 5px;
  background-size: cover;
  border: 1px solid #fff;
}

.artform-item img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.artform-item-label {
  color: #222;
  padding: 5px 0;
}

.artform-item-label .name {
  font-weight: bold;
  margin-bottom: 5px;
}

.artform-item-label .desc {
  font-size: .9rem;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */