* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blah {
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  font-weight: 900;
  cursor: pointer;
  margin: 10px;
  display: inline-block;
}

.bloh {
  border: 2px solid red;
}

.d {
  border: 2px solid orange;
}