.about-content {
    }

.about-content-banner img {
    width: 100%;
    max-width: 100%;
    }

.about-content-header {
    text-align: center;
    margin-top: -4rem;
    background-color: rgba(34, 34, 34, 0.592);

    h2 {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 0;
        padding: 0;
        }
    p {
        font-size: 3rem;
        }
    }

.about-content-body {
    > header {
        border-top: 1px solid $sectionBorderColor;
        border-bottom: 1px solid $sectionBorderColor;
        display: flex;

        p {
            padding: 20px;
            }
        }

    &.col-3 {
        column-count: 3;
        padding: 30px;
        margin-bottom: 60px;
        }

    > p {
        margin-bottom: 30px;
        }
    }

.pub-collection {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    }
.pub-item {
    display: flex;
    flex-direction: column;
    padding: 30px;

    + .pub-item {
        border-left: 1px solid $sectionBorderColor;
        }
    }

.pub-item-thumb {
    width: 200px;
    margin-bottom: 10px;
    }

.pub-item-attr {
    margin-top: 5px;
    }