.artforms-main {
    display: flex;
    min-height: 450px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;

    .artform-block {
        flex: 1;

        + .artform-block {
            border-left: 1px solid white;
            }
        }
    }

.artform-block {
    &.kathakali {
        background-image: url(../images/banner/artists_0.jpg);
        }
    &.mohiniyattam {
        background-image: url(../images/banner/artforms_0.jpg);
        }
    &.kalaripayyattu {
        background-image: url(../images/banner/train_0.jpg);
        }
    &.bharathanatyam {
        background-image: url(../images/banner/productions_0.jpg);
        }
    }

.artforms-multi-col {
    column-count: 3;
    column-gap: 5px;
    
    .artform-block {
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #333;
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid-column;
               break-inside: avoid;
        
        // firefox hack
        overflow: hidden;
        }
    }
.artform-block-img img {
    width: 100%;
    max-width: 100%;
    display: block;
    }
