// c/o Nicola Pressi
// http://codepen.io/ibanez182/pen/LZPgrY

$items: 5;
$animation-time: 4s;
$transition-time: 2.5s;
$scale: 10%;

$total-time: ($animation-time * $items);
$scale-base-1: (1 + $scale / 120%);

.bg-image-slideshow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 1;
    
    overflow: hidden;
    }

.bg-image-slideshow_slide {
    @extend .bg-image-slideshow; 
    
    background-size: 110% auto;
    background-repeat: no-repeat;
    background-position: center center;
    
    animation-name: kenburns;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: $total-time;
    opacity: 1;
    transform: scale($scale-base-1);
    
    @for $i from 1 through $items {
        &:nth-child(#{$i}) {
            animation-name: kenburns-#{$i};
            z-index: ($items - $i);
            }
        }
    }

.bg-image-slideshow_slide:first-child {
    background-image: url(../images/banner/00.jpg);
    }
.bg-image-slideshow_slide:nth-child(2) {
    background-image: url(../images/banner/01.jpg);
    }
.bg-image-slideshow_slide:nth-child(3) {
    background-image: url(../images/banner/02.jpg);
    }
.bg-image-slideshow_slide:nth-child(4) {
    background-image: url(../images/banner/04.jpg);
    }
.bg-image-slideshow_slide:nth-child(5) {
    background-image: url(../images/banner/03.jpg);  
    }

@for $i from 1 through $items {
  @keyframes kenburns-#{$i} {
    $animation-time-percent: percentage($animation-time / $total-time);
    $transition-time-percent: percentage($transition-time / $total-time);
    
    $t1: ($animation-time-percent * ($i - 1) - $transition-time-percent / 2);
    $t2: ($animation-time-percent * ($i - 1) + $transition-time-percent / 2);
    @if($t1 < 0%) { $t1: 0%; }
    @if($t2 < 0%) { $t2: 0%; }

    $t3: ($animation-time-percent * ($i) - $transition-time-percent / 2);
    $t4: ($animation-time-percent * ($i) + $transition-time-percent / 2);
    @if($t3 > 100%) { $t3: 100%; }
    @if($t4 > 100%) { $t4: 100%; }

    $t5: (100% - $transition-time-percent / 2);
    $t6: (($t4 - $t1) * 100% / $t5);

    #{$t1} { opacity: 1; transform: scale($scale-base-1); }
    #{$t2} { opacity: 1; }
    #{$t3} { opacity: 1; }
    #{$t4} { opacity: 0; transform: scale(1); }
    
    @if($i != $items) {
      100% { opacity: 0; transform: scale($scale-base-1); }
    }
    
    @if($i == 1) {
      $scale-plus: ($scale * (100% - $t5) / $t4);
      $scale-plus-base-1: (1 + ($scale + $scale-plus) / 100%);
    
      #{$t5} { opacity: 0; transform: scale($scale-plus-base-1); }
      100% { opacity: 1; }
    }
  }
}