.forms {
    display: flex;
    overflow-x: hidden;
    }

@media (max-width: 530px) {
    .forms {
        flex-wrap: wrap;
        }
    }
    
.artform-selection-instruction-2 {
    display: none;
    }
.artform-selection-instruction-1 {
    display: block;
    }

.artform-selection {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    padding: 10px;
    transition: .3s;
    }
@media (max-width: 530px) {
    .artform-selection {
        order: 1;
        }
    }

.artform-item {
    width: calc(100% / 6 - 10px);
    cursor: pointer;
    margin: 5px;
    border: 0;

    &:focus {
        outline: 3px solid dodgerblue;
        }

    &.is-selected {
        background-image: linear-gradient(
            rgb(51, 165, 51),
            rgb(71, 207, 71)
            );
        background-repeat: no-repeat;
        background-size: calc(100% ) calc(100%);

        &:after {
            content: "✔";
            position: absolute;
            z-index: 9;
            top: 5px; right: 5px;
            color: white;
            padding: 5px;
            background-color: rgb(71, 207, 71);
            }
        
        .artform-item-label {
            color: #fff;
            }
        }
    
    img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 300px;
        object-fit: cover;
        }
    }

@media (max-width: 1300px) {
    .artform-item {
        width: calc(100% / 3 - 10px);
        }
    }
@media (max-width: 720px) {
    .artform-item {
        width: calc(100% / 2 - 10px);
        }
    }
        
.artform-item-label {
    padding: 10px;

    .name {
        font-size: 1.2rem;
        margin-bottom: 5px;
        }
    }


.progress-tracker {
    flex: 1;
    background-color: hsla(0,0,100,1);

    &.is-fixed {
        position: fixed;
        top: 0; left: 0; right: 0;
        display: flex;
        flex-direction: row;
        background-color: hsla(0,0,100,0);
        z-index: 99;
        }

    button {
        display: block;
        border: 0;
        flex: 1;
        padding: 30px;
        text-decoration: none;
        color: #222;
        font-size: 1.2rem;

        &:hover {
            background-color: darken(hsl(51, 100%, 61%), 15);
            }

        background-image: url(../images/assets/arrow-r.svg);
        background-repeat: no-repeat;
        background-position: 0 26px;
        }
    }

#form-part-2 {
    width: 0;
    transition: .3s;
    padding-right: 10px;

    header {
        display: none;
        padding: 10px;
        background-color: rgb(255, 198, 42);
        color: #222;
        margin-bottom: 10px;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: wrap;

        h2 {
            font-size: 1.4rem;
            margin-bottom: 10px;
            }

        .selected-artform-counter {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            font-size: 1.2rem;
            background-color: #333;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-start;
            margin-left: auto;
            margin-right: 10px;
            }
        p {
            width: 100%;

            button {
                padding: 4px;
                border: 1px solid rgb(42, 76, 110);
                background-color: dodgerblue;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                }
            }
        }

    &.is-active {
        width: 25%;

        header {
            display: flex;
            }
        }
    }
    
@media (max-width: 1300px) {
    #form-part-2.is-active {
        width: 33.333%;
        }
    }
@media (max-width: 530px) {
    #form-part-2.is-active {
        width: 100%;
        position: fixed;
        z-index: 999;
        padding-right: 0;
        top: 0; left: 0; right: 0;
        }
    }
@media (max-width: 1200px) {
    #form-part-2 header .selected-artform-counter {
        border-radius: 0;
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
        }
    }

.selected-artforms-group {
    display: flex;
    flex-direction: column;

    .selected-artform {
        background-color: #fff;
        padding: 10px;
        padding-right: 30px;
        color: #222;
        margin-bottom: 10px;
        display: flex;

        animation: 
            .3s slide-in-right forwards,
            2s fade-in-bg forwards;
        }
    .selected-artform-img {
        display: none;

        img {
            display: block;
            }
        }
        
    label, input {
        display: block;
        max-width: 100%;
        }
    label {
        text-transform: capitalize;
        margin-bottom: 10px;

        span {
            display: block;
            font-size: 1.4rem;

            + span {
                margin-top: 5px;
                font-size: .9rem;
                }
            }
        }
    input {
        padding: 5px;
        max-width: 100%;
        }
    }

@media (max-width: 530px) {
    .selected-artforms-group .selected-artform {
        display: none;
        }
    }

.selected-artform-close {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(204, 39, 39);
    color: white;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    }

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
        }
    100% {
        transform: translateX(0);
        opacity: 1;
        }
    }
@keyframes fade-in-bg {
    0% {
        background-color: #FFC62A;
        }
    100% {
        background-color: #fff;
        }
    }

#form-part-3 {
    display: none;
    }
    

.forms.final-step {
    .artform-selection {
        width: 0;
        padding: 0;
        
        * {
            opacity: 0;
            width: 0;
            height: 0;
            pointer-events: none;
            transition: .3s;
            }
        }
    
    .artform-selection-instruction-1 {
        display: none;
        }
    .artform-selection-instruction-2 {
        display: block;
        }
    
    #form-part-2 {
        padding-right: 0;
        }

    .selected-artform-img {
        display: block;
        max-width: 120px;
        margin-right: 10px;

        img {
            display: block;
            max-width: 100%;
            }
        }

    #form-part-3 {
        display: flex;
        flex: 1;
        }
    }

@media (max-width: 720px) {
    .forms.final-step .artform-selection .selected-artform-img {
        display: none;
        }
    }

.user-form {
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    padding: 30px;
    margin: 0 auto;

    label {
        margin-bottom: 20px;
        }
    
    .user-form-radio {
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;

        &:last-child {
            margin-bottom: 20px;
            }

        .label {
            width: 30px;
            }

        input {
            width: auto;
            max-width: 100%;
            }
        }

    input,
    textarea {
        padding: 5px;
        max-width: 500px;
        width: 100%;
        font-family: inherit;
        font-size: 1.2rem; 
        }
    
    button {
        align-self: flex-start;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(42, 76, 110);
        background-color: dodgerblue;
        color: white;
        width: 200px;
        }
    }
