.content-header {
    display: flex;
    }
.content-header-nav {
    @extend .main-heading;
    margin-bottom: 0;
    flex-direction: column;
    padding-bottom: 30px;

    &.kathakali {
        background-image: 
            linear-gradient(
                rgba(83, 133, 79, 0.803),
                rgba(235, 185, 77, 0.524)
                );
        color: #ffffff;
        }

    &.mohiniyattam {
        background-image: 
            linear-gradient(
                195deg,
                rgba(255, 191, 132, 0.524),
                rgba(255, 196, 0, 0.599)
                );
        color: #ffffff;
        }

    &.bharathanatyam {
        background-image: 
            radial-gradient(
                rgba(145, 0, 164, 0.381),
                rgba(187, 2, 2, 0.422)
                );
        color: #ffffff;

        h1 {
            font-size: 2rem;
            }
        }

    &.kuchipudi {
        background-image: 
            radial-gradient(
                rgba(255, 237, 97, 0.272),
                rgba(0, 81, 221, 0.381)
                );
        color: #ffffff;
        }

    &.art-forms {
        background-image: 
            linear-gradient(
                135deg,
                rgba(113, 111, 54, 0.803),
                rgba(196, 21, 21, 0.639)
                );
        color: #ffffff;
        }

    &.book {
        background-image: 
            radial-gradient(
                rgba(255, 97, 6, 0.381),
                rgba(255, 237, 98, 0.422)
                );
        color: #ffffff;

        h1 {
            font-size: 2rem;
            }
        }

    &.training {
        background-image: 
            linear-gradient(
                -45deg,
                hsla(223, 64%, 28%, 0.776),
                hsla(298, 49%, 32%, 0.803)
                );
        color: #ffffff;
        }

    &.about-school {
        background-image: 
            linear-gradient(
                -45deg,
                hsla(17, 65%, 28%, 0.776),
                hsla(298, 49%, 32%, 0.803)
                );
        color: #ffffff;
        }

    h1 {
        font-size: 2.4rem;
        font-weight: 300;
        }
    }

@media (max-width: 1400px) {
    .content-header-nav {

        h1 {
            font-size: 1.6rem!important;
            }
        }
    }
@media (max-width: 1200px) {
    .content-header {
        flex-wrap: wrap;
        }
    .content-header-nav {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        flex-direction: row;
        align-items: center;

        h1 {
            font-size: 2.4rem!important;
            margin-right: 20px;
            }
        }
    }
@media (max-width: 850px) {
    .content-header-nav {
        flex-direction: column;

        h1 {
            margin-right: 0;
            }
        }
    }

.content-header-links {
    display: flex;
    flex-direction: column;
    // padding-left: 50px;
    // margin-left: 5px;
    // border-left: 5px solid #ddd;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 1.2rem;

    a  {
        display: block;
        color: inherit;
        // margin-top: 20px;
        padding: 10px 0;
        // padding-left: 30px;
        // border-top: 1px solid #ddd;

        &:hover {
            // color: dodgerblue;
            }

        // &:before {
        //     content: '';
        //     position: absolute;
        //     bottom: 0; left: -50px;
        //     background-color: #ddd;
        //     height: 5px;
        //     width: 45px;
        //     }
        }
    }
@media (max-width: 1200px) {
    .content-header-links {
        flex-direction: row;

        a + a {
            margin-left: 20px;
            }
        }
    }
@media (max-width: 670px) {
    .content-header-links {
        flex-direction: column;

        a + a {
            margin-left: 0;
            }
        }
    }

.content-header-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: 
    linear-gradient(
        45deg,
        hsla(188, 100%, 56%, 0.218),
        hsla(61, 98%, 82%, 0.177)
        );
    p {
        padding: 30px 30px;
        font-size: 1.2rem;
        margin: auto;

        + p {
            padding-top: 0;
            }
        }
    }
.content-header-lnk-group {
    display: flex;
    // margin-top: auto;

    &:not(:only-child) {
        border-top: 1px solid $sectionBorderColor;
        }

    a {
        padding: 30px;
        flex: 1;
        color: inherit;
        text-align: center;
        transition: .17s background-color;
        font-size: 1.2rem;

        &:not(:last-child) {
            border-right: 1px solid $sectionBorderColor;
            }
        &:hover {
            // background-color: #ffffff;
            }
        }
    }
@media (max-width: 670px) {
    .content-header-lnk-group {
        flex-direction: column;

        a {
            padding: 15px;

            + a {
                border-top: 1px solid $sectionBorderColor;
                }
            }
        }
    }
    
.content-section {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;

    + .content-section {
        margin-top: 30px;
        }
    }
.content-section-header {
    width: 100%;
    &.-half {
        width: 500px;
        padding-right: 30px;
        }
    &.-sticky {
        align-self: flex-start;
        position: sticky;
        top: 30px;
        z-index: 9999;
        }   

    h2 {
        display: flex;

        &:after {
            content: '';
            display: block;
            flex: 1;
            margin-left: 10px;
            background-image: linear-gradient(white, white);
            background-size: 100% 3px;
            background-repeat: no-repeat;
            background-position: center center;
            }
        }
    }
@media (max-width: 1200px) {
    .content-section-header {
        &.-half {
            width: 100%;
            padding-right: 0;
            }
        &.-sticky {
            position: static;
            }
        }
    }
.content-section_content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    }
    
.content-block {
    padding: 10px;

    &.-third {
        width: 33.333%;
        } 
    &.-fourth {
        width: 25%;
        } 

    > img {
        max-width: 100%;
        width: 100%;
        display: block;
        }

    &.obj-fit > img {
        height: 100%;
        object-fit: cover;
        object-position: center right;
        }
    }

@media (max-width: 568px) {
    #navarasam .-third,
    #mudras .-fourth {
        width: 50%;
        }
    }
@media (max-width: 436px) {
    #navarasam .-third,
    #mudras .-fourth {
        width: 100%;
        }
    }

#members .content-block {
    padding: 0;

    > img {
        max-width: 500px;
        width: auto;
        }
    }

.member-block {
    display: flex;
    flex-direction: row;
    // flex: 1;
    width: 100%;

    + .member-block {
        margin-top: 30px;
        }

    .content-block_content {
        flex: 1;
        background-color: #fff;
        color: rgb(54, 54, 54);
        padding: 20px;

        h3 {
            font-size: 2rem;
            font-weight: 300;
            }
        
        h4 {
            margin-top: 30px;
            }

        p {
            margin: 10px 0;
            }
        }
    }

.content-block figcaption {
    text-align: center;
    }

.content-block_label {
    font-size: 2rem;
    }
@media (max-width: 806px) {
    .content-block_label {
        font-size: 1.2rem;
        }
    }
@media (max-width: 506px) {
    .content-block_label {
        font-size: 2rem;
        }
    }
.content-block_label-translation {
    text-transform: uppercase;
    letter-spacing: 5px;
    }

.hero-block  {
    min-height: 500px;
    background-color: #222;
    display: flex;
    }
.floating-header {
    max-width: 500px;
    padding: 30px;
    margin: auto 0 auto;
    // background-color: #fff;
    // color: #333;

    p {
        letter-spacing: 1px;
        }
    }
    
.block-w-bg {
    > * {
        z-index: 2;
        }
    }
.block-bg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    // object-position: top center;

    // mix-blend-mode: color-dodge;
    }

.intersection {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.653);
    color: #222;
    }
@media (max-width: 1000px) {
    .intersection {
        flex-direction: column;
        }
    }

.content-heading {
    width: 100%;
    }

.intersection-content {
    display: flex;

    .intersection-content-text {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        }

    p + p {
        margin-top: 30px;
        }
    }
@media (max-width: 1050px) {
    .intersection-content {
        flex-direction: column;
        }
    }
@media (max-width: 820px) {
    .intersection-content {
        flex-direction: column;
        margin-left: 0;
        max-width: 100%;
        }
    }

.intersection-img {
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    margin-right: 30px;

    img {
        display: block;
        width: 100%;
        max-width: 100%;
        }
    }
@media (max-width: 1050px) {
    .intersection-img {
        max-width: 100%;
        margin-bottom: 20px;
        min-width: 100%;
        }
    }