.main-event-slides {
    margin-bottom: 5px;
    flex: 1;
    }
.main-event-slides img {
    display: block;

    height: 100%;
    width: 100%;
    object-fit: cover;
    }
.event-slides {
    width: 100%;
    height: calc(100vh - 100px);
    margin-bottom: 5px;
    }
.slide {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: flex-start;

    background-size: cover;
    }

.slide-national-2015 {
    background-image: url(../images/event-highlights/national2015.jpg);
    }
.slide-iffk-2011 {
    background-image: url(../images/event-highlights/iffk2011.jpg);
    }
.slide-ipl-2011 {
    background-image: url(../images/event-highlights/ipl2011.jpg);
    }
.slide-anandotsavam {
    background-image: url(../images/event-highlights/anandotsavam.jpg);
    }

.slide-info {
    background-color: hsla(0,0%,0%,.7);
    color: white;
    z-index: 9;
    padding: 30px;
    }
.event-slides img {
    display: block;

    height: 100%;
    width: 100%;
    object-fit: cover;
    }


