.events-list {
    padding: 30px;
    }
.events-list h2,
.video-list h2 {
    margin-bottom: 30px;
    }
.events-list ul {
    padding: 0;
    list-style-position: inside;
    }
.events-list li {
    margin-bottom: 20px;
    }
    
.video-list {
    padding: 30px;
    background-color: white;
    color: #222;
    }

@media (max-width: 1200px) {
    .events-list, .video-list {
        width: 100%;
        }
    }