[class*="icon-"] {
    &:before {
        // opacity: .8;
        padding: 0 0;
        margin-right: 8px;
        position: relative;
        // top: 2px;
        filter: invert(1);
        }
    }

.icon-info:before {
    content: url(../images/assets/icons/info.png);
    }
.icon-call:before {
    content: url(../images/assets/icons/call.png);
    }
.icon-msg:before {
    content: url(../images/assets/icons/msg.png);
    }
.icon-fwd-c:before {
    content: url(../images/assets/icons/fwd-c.png);
    }
.icon-home:before {
    content: url(../images/assets/icons/home.png);
    }
.icon-white-block:before {
    content: '';
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    background-color: #fff;
    opacity: .5;
    }