.kathakali-intro {
    min-height: 500px;
    background-color: #222;
    }

.kathakali-intro-header {
    z-index: 2;
    max-width: 500px;
    padding: 30px;
    top: 100px;
    }

.kathakali-intro-bg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    }

.kathakali-columns {
    display: flex;
    flex-wrap: wrap;
    }

.kathakali-column {
    width: 50%;
    padding: 30px;

    h2 {
        margin: 0;
        padding-top: 200px;
        background-size: cover;

        span {
            background-color: hsla(0,0,0,.8);
            display: block;
            margin: 0 15px;
            padding: 10px 30px;
            line-height: 1;
            }
        }
    p {
        background-color: hsla(0,0,0,.5);
        margin: 0 15px;
        padding: 10px 30px 20px;
        }
    }

.kathakali-column-chutti {
    background-image: url(../images/kathakali-page/chutti-bg.jpg);
    }
.kathakali-column-expressions {
    background-image: url(../images/kathakali-page/expressions-bg.jpg);
    }
.kathakali-column-mudras {
    background-image: url(../images/kathakali-page/mudra-bg.jpg);
    }
.kathakali-column-ensemble {
    background-image: url(../images/kathakali-page/ensemble-bg.jpg);
    }

.navarasam {
    padding: 30px;
    display: flex;
    }

.navarasam-header {
    width: 500px;
    padding-right: 30px;
    align-self: flex-start;
    position: sticky;
    top: 30px;

    h2 {
        display: flex;

        &:after {
            content: '';
            display: block;
            flex: 1;
            margin-left: 10px;
            background-image: linear-gradient(white, white);
            background-size: 100% 3px;
            background-repeat: no-repeat;
            background-position: center center;
            }
        }
    }
.navarasam-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    }
.navarasam-item {
    width: 33.333%;
    padding: 10px;
    }
.navarasam-img img {
    max-width: 100%;
    width: 100%;
    }

.navarasam-img figcaption {
    text-align: center;
    }

.navarasam-name {
    font-size: 2rem;
    }
.navarasam-name-translation {
    text-transform: uppercase;
    letter-spacing: 5px;
    }