.kathakali-columns {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    }
.kathakali-column {
    width: 50%;
    display: flex;
    padding-top: 30px;
    flex-direction: column;

    &:nth-child(odd) {
        padding-right: 15px;
        }
    &:nth-child(even) {
        padding-left: 15px;
        }

    h2 {
        height: 300px;
        display: flex;
        align-items: flex-end;
        padding: 0 15px;
        margin: 0;

        font-size: 1.4rem;
        // font-weight: 300;

        background-size: cover;
        background-position: 50% 100%;
        background-repeat: no-repeat;

        span {
            // background-color: rgba(255, 225, 0, 0.701);
            background-image: 
                linear-gradient(
                    135deg,
                    rgba(83, 133, 79, 0.803),
                    rgba(235, 145, 37, 0.8)
                    );
            // color: #222;
            padding: 15px 30px 10px;
            width: 100%;
            line-height: 1;
            }
        }
    p {
        background-color: hsla(0,0,0,.7);
        padding: 15px 30px 30px;
        margin: 0 15px;   
        flex: 1;
        }
    }

@media (max-width: 980px) {
    .kathakali-columns {
        flex-direction: column;
        }
    .kathakali-column {
        width: 100%;

        &:nth-child(odd) {
            padding-right: 0;
            }
        &:nth-child(even) {
            padding-left: 0;
            }
        }
    }

.kathakali-column-chutti {
    background-image: url(../images/kathakali-page/chutti-bg.jpg);
    }
.kathakali-column-expressions {
    background-image: url(../images/kathakali-page/expressions-bg.jpg);
    }
.kathakali-column-mudras {
    background-image:  url(../images/kathakali-page/mudra-bg.jpg);
    }
.kathakali-column-ensemble {
    background-image:  url(../images/kathakali-page/ensemble-bg.jpg);
    }

#mudras {
    img {
        filter: invert(1);
        }
    }

@media (max-width: 670px) {
    .kathakali-profile-hero {
        flex-direction: column;

        .floating-header {
            max-width: 100%;
            order: 1;
            margin: 0 0 0;
            padding: 20px;
            padding-top: 10px;
            }
        .block-bg {
            position: relative;
            }
        .content-heading {
            font-size: 1.5rem;
            }
        }
    }