.main-nav {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-self: center;
    padding: 0;

    &.welcome-nav.is-hidden {
        display: flex;
        }
    }

.nav-item {
    width: 33.333%;
    transition: .3s;
    // background-size: 0% 3px;
    // background-position: bottom left;
    // padding-bottom: 8px;
    // padding: 10px;
    padding: 0 30px;
    padding-left: 40px;

    &:hover {
        h2 {
            text-decoration: underline;
            color: #ff82ff;
            }
        }
    }
.nav-item:not(.nav-item:nth-child(n+3)) {
    // padding-right: 10px;
    }
.nav-item:nth-child(n+4) {
    margin-top: 60px;
    }
.nav-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    }
.nav-item h2 {
    // font-weight: normal;
    font-size: 1.5rem;
    line-height: .75;
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: uppercase;
    }
.nav-item p {
    font-size: .9rem;
    opacity: .8;
    }
.extended-links {
    display: none;
    }
.main-nav-trigger.welcome-nav-trigger {
    display: none;
    }
@media (max-width: 1200px) {
    .main-nav {
        align-self: flex-start;
        padding-top: 30px;
        }
    .nav-item {
        // text-align: center;
        // padding-left: 10px;
        width: 50%;
        margin-bottom: 20px;
        }
    .nav-item:nth-child(n+4) {
        margin-top: 0;
        }
    .nav-item h2 {
        // font-weight: normal;
        // font-size: 1.2rem;
        }
    .nav-item p {
        display: none;
        }
    }
@media (max-width: 1044px) {
    .main-nav.welcome-nav.is-hidden {
        display: none;
        }
    .main-nav-trigger.welcome-nav-trigger {
        display: flex;
        }
    }
@media  (max-width: 800px) {
    .nav-item {
        width: 50%;
        padding-bottom: 10px;
        }
    .nav-item:not(.nav-item:nth-child(n+3)) {
        padding-right: 0;
        }
    .nav-item:nth-child(n+4) {
        margin-top: 0;
        }
    }
