.main-banners {
    min-height: 450px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin-bottom: 1px;
    }
.banner {
    width: 25%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    opacity: 0;
    transform: scale(0,0);
    transform-origin: center center;
    animation: .7s fade-in ease-in-out forwards;
    }
@keyframes fade-in {
    100% {
        opacity: 1;
        transform: scale(1,1);
        }
    }

@media (max-width: 670px) {
    .banner {
        width: 50%;
        min-height: 200px;
        }
    }
.banner-training {
    background-image: url(../images/banner/train_0.jpg);
    animation-delay: .3s;
    }
.banner-artists {
    background-image: url(../images/banner/book-artforms.jpg); 
    animation-delay: .2s;
    }
.banner-productions {
    background-image: url(../images/banner/productions.jpg);
    animation-delay: .1s;
    }
.banner-performances {
    background-image: url(../images/banner/performances.jpg);
    }
.banner + .banner {
    // border-left: 1px solid #ddd;
    }
.banner a {
    color: inherit;
    }
.banner-header {
    padding: 15px 30px;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    z-index: 2;

    text-shadow: 0 0 3px hsla(0,0,0,.3);
    }
.banner-training .banner-header {
    background-color: rgba(73, 67, 43, 0.599);
    }
.banner-artists .banner-header {
    background-color: rgba(145, 85, 47, 0.707);
    }
.banner-productions .banner-header {
    background-color: rgba(196, 48, 43, 0.701);
    }
.banner-performances .banner-header {
    background-color: rgba(236, 173, 25, 0.707);
    }
.banner-header h2 {
    background-image: url(../images/assets/arrow-r.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 20px auto;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0px;
    }
@media (max-width: 1000px) {
    .banner-header {
        padding: 20px
        }
    .banner-header h2 {
        font-size: 1rem;
        }
    .banner-header p {
        font-size: .8rem;
        }
    }
@media (max-width: 670px) {
    .banner-header p {
        display: none;
        }
    }

/*
.banner-images {
    width: 100%;
    }
.banner-images img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: 10s;
    transition-timing-function: linear;
    }
@media (max-width: 1000px) {
    .banner-images img {
        height: 300px;
        }
    .banner-header h2 {
        font-size: 1rem;
        }
    }
*/