.content-section--about {
    background-image: url(../images/about-kathakali.jpg);
    background-size: cover;
    min-height: 500px;

    margin-top: 0;
    }
.about-intro {
    display: flex;
    }
@media (max-width: 456px) {
    .about-intro {
        flex-direction: column;
        }
    }
.about-intro_text {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    }    
.about-intro_text p {
    line-height: 1.5;
    }
.about-intro_text p + p {
    margin-top: 20px;
    }
@media (max-width: 456px) {
    .about-intro_text {
        padding: 0 0 20px;
        } 
    }
.about-intro_img {
    margin-bottom: 30px;
    width: 100%;
    min-width: 300px;
    }
@media (max-width: 456px) {
    .about-intro_img {
        margin-bottom: 10px;
        }
    }
.about-intro_img img {
    display: block;
    max-width: 100%;
    width: 100%;
    }
.about-address {
    line-height: 1.4;
    order: 3;
    }
.about-address b {
    font-size: 1.2rem;
    }
.about-address p {
    margin-bottom: 30px;
    line-height: 1.6;
    }
.about-address a {
    color: inherit;
    }
.about-map {
    max-width: 500px;
    display: flex;
    order: 2;
    }
@media (max-width: 1030px) {
    .about-map {
        max-width: 100%;
        width: 100%;
        height: 300px;
        flex: auto;
        }
    }
.about-map iframe {
    flex: 1;
    max-width: 100%;
    }
