.main-shows {
    margin-bottom: 5px;
    }
.main-shows .main-heading {
    padding: 30px;
    width: 30%;
    max-width: 30%;
    }
.show-cell {
    display: block;
    width: 30%;
    padding: 30px;
    background-color: white;
    color: $lightBlack;
    text-decoration: none;
    min-width: 300px;
    }
@media (max-width: 1000px) {
    .show-cell {
        padding: 20px;
        }
    }
@media (max-width: 670px) {
    .show-cell {
        padding: 10px;
        }
    }
.show-cell:hover {
    background-color: hsl(0, 0%, 90%);
    }
.show-cell + .show-cell {
    margin-left: 1px;
    }
.show-icon {
    margin-bottom: 10px;
    }
.show-icon img {
    max-width: 80px;
    }
.show-photo {
    margin-bottom: 10px;
    }
.show-photo img {
    display: block;
    width: 100%;
    max-width: 100%;
    }