.quick-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $sectionBorderColor;
    padding: 0 30px;
    
    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: dodgerblue;
            }
        }
    }

.breadcrumbs {
    display: flex;
    padding: 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: .9rem;
    margin-right: 20px;

    img {
        display: block;
        margin-top: 1px;
        opacity: .8;
        }

    a {
        + a:before {
            content: "\00BB";
            padding: 0 10px;
            display: inline-block;
            text-decoration: none;
            font-weight: normal;
            }
        
        &.is-active {
            text-decoration: underline;
            font-weight: 700;
            }
        }
    }

@media (max-width: 1050px) {
    .breadcrumbs {
        width: 100%;
        justify-content: center;
        }
    }

.quick-links {
    display: flex;
    align-items: center;
    border-left: 1px solid $sectionBorderColor;
    
    h2 {
        font-size: .9rem;
        font-weight: normal;
        margin-bottom: 0;
        min-width: 120px;
        padding: 10px;
        color: dodgerblue;
        }
    
    a {
        border-left: 1px solid rgb(221,221,221);
        padding: 10px;
        }

    &:hover {
        h2 {
            color: inherit;
            }
        }
    }

@media (max-width: 1050px) {
    .quick-links {
        border-left: 0;
        margin: 0 auto;
        }
    }
@media (max-width: 700px) {
    .quick-links {
        display: none;
        }
    }