.quick-access-links {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border-bottom: 1px solid rgb(221,221,221);

    h2 {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 0;
        min-width: 120px;
        padding: 20px 10px;
        color: dodgerblue;
        }
    
    a {
        color: inherit;
        padding: 20px 10px;
        border-left: 1px solid rgb(221,221,221);

        &:hover {
            color: dodgerblue;
            }
        }

    &:hover {
        h2 {
            color: inherit;
            }
        }
    }