.training-artforms {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    }

.training-artform-block {
    width: 50%;
    display: flex;
    margin-bottom: 30px;
    background-color: grey;
    min-height: 300px;

    &:nth-child(odd) {
        border-right: 10px solid #FFEDE2;
        }
    &:nth-child(even) {
        border-left: 10px solid #FFEDE2;
        }
    }

.training-artform-img {
    width: 100%;
    max-width: 250px;
    // display: none;
    }
.training-artform-img img {
    width: 100%;
    max-width: 100%;
    display: block;
    }

.training-block-info {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    }

.kathakali-training {
    // background-image: url(../images/banner/artists_0.jpg);
    background-size: cover;
    }


.training-form {
    display: flex;
    }
    
.training-form-content {
    flex: 1;

    h3 {
        margin-bottom: 30px;
        font-size: 2rem;
        text-transform: capitalize;
        }
    }
    