.p30 {
    padding: 30px;
    }

.v-pad {
    padding-top: 30px;
    padding-bottom: 30px; 
    }

.viewport-fold {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }
@media (max-width: 670px) {
    .viewport-fold {
        padding-top: 30px;
        }
    }

.col-wrap {
    display: flex;
    }
.col-wrap > * {
    flex: 1;
    }

.main-heading {
    flex: 1;
    display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 20px 30px;
    min-width: 25%;
    max-width: 25%;
    // padding-bottom: 60px;
    border-right: 1px solid rgb(221, 221, 221);
    margin-bottom: 1px;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    }

.section-header {
    padding: 30px;
    }

.lnk-prom {
    padding: 10px;
    background-color: rgb(87, 214, 87);
    color: white;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    align-self: flex-start;
    }