.p30 {
    padding: 30px;
    }

.v-pad {
    padding-top: 30px;
    padding-bottom: 30px; 
    }

.viewport-fold {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }
@media (max-width: 1000px) {
    .viewport-fold {
        min-height: auto;
        }
    }

.col-wrap {
    display: flex;
    flex-wrap: wrap;
    }
.col-wrap > * {
    flex: 1;
    }

.main-heading {
    flex: 1;
    display: flex;
    padding: 20px 30px;
    min-width: 25%;
    max-width: 25%;
    border-right: 1px solid $sectionBorderColor;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: 300;
    }

.content-heading {
    font-weight: 400;
    font-size: 1.8rem;
    }

.section-header {
    padding: 30px;
    }

.lnk-prom {
    display: inline-block;
    padding: 10px;
    background-color: rgb(87, 214, 87);
    color: white;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    align-self: flex-start;
    box-shadow: 0 2px 2px rgb(73, 142, 73);
    transition: .2s;

    &:hover {
        background-color: rgb(104, 209, 104);
        box-shadow: 0 5px 5px rgb(138, 165, 138);
        transform: translateY(-2px);
        }
    }